version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: taskbot_pg
    environment:
      POSTGRES_DB: userstasks
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/01-init.sql
    restart: unless-stopped

volumes:
  postgres_data: